@media(max-width: 360px){
    .sud{
        width: 80%;
        height: 450px;
    }
    .Enter{
        width: 95%;
        height: 40px;
        margin-bottom: 10px;
    }
    #spi{
        width: 30px;
        position: absolute;
        top: 110px;
        right: 20px;
        border-radius: 20px;

    }
    .tasklist{
        overflow-y: scroll ;
    }
    .item{
        margin-bottom: 20px;
        margin-left: 20px;
        height: 40px;
        width: 75%;
    }
 }

 @media(max-width:400px){
    .sud{
        width: 80%;
        height: 450px;
    }
    .Enter{
        width: 95%;
        height:40px;
        margin-bottom: 10px;
    }
    #spi{
        width: 40px;
        position: absolute;
        top: 100px;
        right: 70px;
        border-radius: 50px;

    }
    .tasklist{
        overflow-y: scroll ;
    }
    .item{
        margin-bottom: 20px;
        margin-left: 15px;
        width: 90%;
        height: 40px;
    }
 }
 
